<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mt.mapper.SysParamMapper" >
  <resultMap id="BaseResultMap" type="com.mt.domain.SysParam" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sys_key" property="sysKey" jdbcType="VARCHAR" />
    <result column="sys_value" property="sysValue" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sys_key, sys_value
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_sys_param
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_sys_param
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mt.domain.SysParam" >
    insert into t_sys_param (id, sys_key, sys_value
      )
    values (#{id,jdbcType=INTEGER}, #{sysKey,jdbcType=VARCHAR}, #{sysValue,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mt.domain.SysParam" >
    insert into t_sys_param
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sysKey != null" >
        sys_key,
      </if>
      <if test="sysValue != null" >
        sys_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sysKey != null" >
        #{sysKey,jdbcType=VARCHAR},
      </if>
      <if test="sysValue != null" >
        #{sysValue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mt.domain.SysParam" >
    update t_sys_param
    <set >
      <if test="sysKey != null" >
        sys_key = #{sysKey,jdbcType=VARCHAR},
      </if>
      <if test="sysValue != null" >
        sys_value = #{sysValue,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mt.domain.SysParam" >
    update t_sys_param
    set sys_key = #{sysKey,jdbcType=VARCHAR},
      sys_value = #{sysValue,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>